@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #090E17;
  --accent: #0EA5E9;
}

.dark {
  --background: #090E17; /* Deep Slate */
  --foreground: #f8fafc; /* Crisp White */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}
